@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-size: large;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none !important;
}

.sponsor-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.sponsor {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .fixed {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}